<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DinoTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DinoTrack.Properties.Settings>
            <setting name="AllowColumnResizing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowRowResizing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightSelectedRow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTooltipsInAddForm" serializeAs="String">
                <value>True</value>
            </setting>
        </DinoTrack.Properties.Settings>
    </userSettings>
</configuration>